*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,*::after{
  box-sizing: border-box;
}
/* 整个body撑满网页 */
body{
  height: 100vh;
  width: 100%;
  /* border:1px solid #333; */
  justify-content: center;
  align-items: center;
  background-color: #FFE035;
  display: flex;
}
.wrapper {
  width: 100%;
  height: 166px;
  /* border: 1px solid blue; */
  position: relative;
}
.nose {
  width: 22px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 28px;
  margin-left: -11px;
  /* transform: translateX(-50%); */
  /* 效果是一样的 但是 css属性有兼容问题 */
  border:11px solid #000;
  border-color:#000 transparent transparent transparent;
  border-radius: 50%;
}
.eye {
  width: 50px;
  height: 50px;
  background-color: #111;
  position: absolute;
  border:2px solid #000;
  border-radius: 50%;
}
.eye::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  left: 6px;
  top:-2px;
  border: 2px solid #000;
  background:#fff;
}
.eye.left {
  right: 50%;
  margin-right: 90px;
}
.eye.right {
  left: 50%;
  margin-left: 90px;
}
.apple-cheeked {
  width: 68px;
  height: 68px;
  background: #E23D22;
  border:2px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 85px;
}
.apple-cheeked.left{
  right: 50%;
  margin-right: 116px;
}
.apple-cheeked.right{
  left: 50%;
  margin-left: 116px;
}
.upper-lip {
  height: 40px;
  width: 80px;
  position: absolute;
  top: 44px;
  background-color: #FFE035;
  z-index: 2;
}
.upper-lip.left{
  right: 50%;
  border-right:3px solid #000;
  border-bottom:3px solid #000;
  border-bottom-left-radius: 60px 40px;
  border-top: none;
  border-right:none;
  transform: rotate(-30deg);
  margin-right: 3px;
}
.upper-lip.right{
  left: 50%;
  border-left:3px solid #000;
  border-bottom:3px solid #000;
  border-bottom-right-radius: 60px 40px;
  border-top: none;
  border-left:none;
  transform: rotate(30deg);
  margin-left: 3px;
}
.lower-lip {
  width: 120px;
  height: 600px;
  background-color: #990513;
  border-radius: 50%;
  border:2px solid #000;
  bottom: 0;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  overflow: hidden;
}
.lip-wrapper {
overflow: hidden;
  height: 140px;
  width:200px;
  position: absolute;
  left: 50%;
  bottom: -35px;
  margin-left: -100px;
  /* border:2px solid #666; */
}
.lower-lip::after {
  content: '';
  width: 100px;
  height: 110px;
  position: absolute;
  left: 50%; 
  bottom: 0;
  background-color: #fc4a62;
  margin-left: -50px;
  border-radius: 46px;
}